<nav class="d-flex justify-content-between align-items-center">
    <input type="search" placeholder="Search" class="g-form-input l-navbar-search">
    <a href="#" class="l-navbar-brand">Logo</a>
    <ul class="d-flex mb-0">
        <div class="l-navbar-item">
            <a href="#" class="l-navbar-link">Shops</a>
        </div>
        <div class="l-navbar-item">
            <a href="#" class="l-navbar-link">Login</a>
        </div>
        <div class="l-navbar-item">
            <a href="#" class="l-navbar-link">Sign Up</a>
        </div>
    </ul>
</nav>